
.QuestionEx1 {
    list-style-type: upper-roman;
}

table {
    width: 100%;
}

table,
th {
    border: 1px solid #333;
    text-align: center;
    padding: 1px;
}

tr:nth-child(even) {
    background: rgb(80, 80, 90);
    color: rgb(255, 255, 255);
}

tr:hover {
    background: rgb(26, 120, 12);
}

h2 {
    color : orange; /* Cette ligne permet de mettre toutes les balises h2 en orange */
}

thead,
tfoot {
    background-color: rgb(36, 36, 36);
    color: #fff;
}